@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/*----- VARIABLES CSS -----*/
/*Varibles en general*/
/*Colores*/
:root {
  --first-color: #400000;
  --second-color: #D0CD94;
  --white-color: #fff; }

/*Fuente y Tipografia*/
:root {
  --body-font: 'Raleway', sans-serif;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2.3rem;
  --normal-font-size: 0.93rem;
  --big-font-size: 2.7rem;
  --smaller-font-size: 0.75rem; }
  @media screen and (min-width: 768px) {
    :root {
      --h1-font-size: 4.5rem;
      --h2-font-size: 3.56rem;
      --normal-font-size: 1rem;
      --big-font-size: 10rem;
      --smaller-font-size: 0.813rem; } 
    }

/* ==== MARGINS ====*/
:root {
    --mb-1:.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
}

/*z index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

/*----- BASE -----*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html{
    scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  font-weight: initial;
  min-height: 100%;
}

h1, h2 {
  margin: 0;
  font-weight: initial; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

p {
  font-size: var(--normal-font-size); }

/*----- LAYOUT -----*/
.bd-grid {
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  color: var(--white-color);
  z-index: var(--z-fixed); }

/*----- PAGES -----*/
/*Nav*/
.nav {
  height: 3rem;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold; 
}
.nav__logo{
    font-size: 1.5rem;
    letter-spacing: .3rem;
}
  @media screen and (max-width: 768px) {
    .nav__menu {
      position: fixed;
      top: 3rem;
      left: -100%;
      background-color:#400000;
      width: 80%;
      height: 100vh;
      margin: auto;
      padding: 2rem;
      z-index: var(--z-fixed);
      -webkit-transition: .5s;
      transition: .5s; } }
  .nav__list {
    text-align: center; }
  .nav__item {
    margin-bottom: 2rem; }
  .nav__link {
    font-size: 1rem;
    padding: .5rem;
    color: var(--white-color); }
  .nav__logo {
    font-family: 'Pirata One', cursive;
    color: var(--white-color); 
}
  .nav__toggle {
    font-size: 2rem;
    cursor: pointer; }
  .nav__icon-cart {
    font-size: 1.3rem;
    text-align: right; }

/*Aparecer menu*/
.show {
  left: 0; }

/*Home*/
.home {
  position: relative;
  display: grid;
    grid-template-rows: 3fr 1fr;
  height: calc(100vh - 3rem); }
  .home__primary {
    width: 0;
    /*Animation*/
    background-color: var(--first-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem; }
  .home__title {
    font-family: 'Pirata One', cursive;
    font-size: var(--h1-font-size);
    letter-spacing: .3rem;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    color: var(--white-color);
 }
  .home__img {
    width: 235px;
    height: auto; }
  .home__secondary {
    width: 0;
    /*Animation*/
    background-color: var(--second-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold; }
  .home__year {
    font-size: var(--h1-font-size);
    -webkit-text-stroke: 2.3px var(--first-color);
    color: transparent; }

@media screen and (min-width: 768px) {
  body {
    margin: 0; 
    }
    .l-header {
    background-color: transparent; }
    .nav {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr; }
    .nav__list {
    display: flex;
    }
    .nav__item {
    margin-right: 5rem;
    margin-bottom: 0;
    }
    .nav__toggle {
    display: none;
    }
    .home {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
    height: 100vh;
    }
    .home__primary {
    justify-content: center;
    }
    .home__img img {
    position: absolute;
    width: 361px;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: var(--z-normal);
    }
    .home__year {
    writing-mode: vertical-rl;
    margin-left: 5rem;
    }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
    }
}

footer{
	bottom: 0;
}
.footer-distributed{
	background-color: var(--first-color);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color: var(--white-color);
	font: normal 36px 'Pirata One', cursive;
	margin: 0;
}
 
.footer-distributed .footer-links{
	color: var(--white-color);
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin-bottom: 20px;
}
 
 
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-details{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-details span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 15px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: var(--second-color);
	border-radius: 50px;
	font-size: 20px;
	color: var(--first-color);
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.contact__button{
    display: inline-block;
    background-color: var(--second-color);
    color: var(--first-color);
    padding: .10rem 2rem;
    border-radius: .2rem;
    border: none;
    outline: none;
    margin: 0;
    font-size: var(--normal-font-size);
    cursor: pointer;
}
 
 
@media (max-width: 880px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}